
html {
    box-sizing: border-box;
    font-family: 'helvetica neue';
  }

  
body {
    margin: 0;
  }

  nav {
    background: black;
    width: 100%;
    top:0;
    transition: all 0.5s;
    position: fixed;
    z-index: 1;
    
  }
  
  nav ul, footer ul {
    margin: 0;
    padding:0;
    list-style: none;
    display: flex;
  }
  
  nav li, footer li {
    flex: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  nav a, footer a {
    text-decoration: none;
    padding: 20px;
    display: inline-block;
    color: white;
    transition: all 0.2s;
    text-transform: uppercase;
  }
  
  li .current, li :hover{
      background-color: white;
      color: black;
      transition: all 0.2s;
      text-transform: uppercase;
  }
  a:hover{
    color: inherit;
    text-decoration: inherit;
}

footer {
    background-color: black;
    margin: 0;
    width: 100vw;
    height: 20vh;
    bottom: 0;
    z-index: 2;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center ;
}


  hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    width: 100%;
    border-top: 2px solid rgba(255, 255, 255, 0.1);
  }